:root {
    --accent: #bfb306;
    --white: #ffffff;
    --black: #000000;
    --white-translucent: rgba(255, 255, 255, 0.4);
    --shadow: 5px 5px 10px hsla(329, 43%, 10%, 0.7);
    --background: url('../public/images/background.jpg');
}

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background) 0 / cover fixed;
}

#__next {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline solid var(--accent);
}

.floating-box {
    position: relative;
    background: var(--white);
    width: 40rem;
    max-width: 100%;
    height: auto;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: var(--shadow);
}

.floating-box.long {
    margin-top: 30px;
}
.floating-box.wide {
    max-width: 100rem;
    width: 90%;
}

.floating-box.center {
    text-align: center;
}

.nav a{
    margin-right: 10px;
}

.tooltip {
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    background: var(--accent);
    color: var(--white);
    padding: 10px;
    font-size: 15px;
    box-shadow: var(--shadow);
    visibility: hidden;
    z-index: 1;
}

a:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width: 699px) {
    /* shows names on mobile */
    .tooltip {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        background: none;
        color: inherit;
        padding: 0;
        font-size: inherit;
        box-shadow: none;
        visibility: visible;
        z-index: 0;
    }

    .floating-box {
        padding: 5%;
        max-width: 90%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }


    .floating-box .nav {
        display: grid;
        text-align: left;
        margin: 15px;
    }
}