.fontAwesomeAccentColour {
    color: var(--accent);
    padding-right: 10px;
}

.fontAwesomeBigger {
    font-size: 1.33em;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}

.hostedServices > div {
    text-align: left;
    margin: 0;
    font-size: 24px;
}

.hostedServices a {
    text-decoration: underline solid var(--accent);
    color: var(--black);
}

.leftAligned {
    text-align: left;
}

.topLevelLinks {
    text-decoration: none;
    color: var(--accent);
    position: relative;
    font-size: 35px;
}

.headerLinks {
    text-decoration: underline solid var(--accent);
    color: var(--black);
}

.accent {
    font-style: normal;
    color: var(--accent);
}

.MapsIframe {
    position: relative;
    width: calc(40rem + 60px);
    height: 480px;
    border: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow: var(--shadow);
}

.profilePic {
    position: relative;
    width: 10em;
    aspect-ratio: 1146 / 1512;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.cvTable {
    font-size: 1.25em;
}

.cvTable > tbody > tr > td:nth-child(1) {
    text-decoration: underline solid var(--accent);
    vertical-align: top;
    padding-right: 5px;
}

.timeStamp {
    text-align: end;
    color: grey;
    font-size: 0.75em;
}

.cvDiplomasTable > tbody > tr > td {
    padding-bottom: 4px;
    padding-top: 4px;
    vertical-align: top;
}

.cvDiplomasTable > tbody > tr {
    border-bottom: 1px solid black;
}

.cvDiplomasTable > tbody > tr:last-child {
    border-bottom: none;
}

@media screen and (min-width: 700px) {
    .hostedServices {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        row-gap: 30px;
    }

    .cvH2 {
        margin-block-start: 0
    }
}

@media screen and (max-width: 699px) {
    .hostedServices > div {
        font-size: 20px;
        margin: 15px;
    }

    .desktopBreak {
        display: none;
    }
}