.fontAwesomeAccentColour {
    color: var(--accent);
    padding-right: 10px;
}

.fontAwesomeBigger {
    font-size: 1.33em;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}

.hostedServices > div {
    text-align: left;
    margin: 0;
    font-size: 24px;
}

.leftAligned {
    text-align: left;
}

.topLevelLinks {
    text-decoration: none;
    color: var(--accent);
    position: relative;
    font-size:35px;
}

.headerLinks {
    text-decoration: underline solid var(--accent);
    color: var(--black);
}

.accent{
    font-style: normal;
    color: var(--accent);
}

.MapsIframe {
    position: relative;
    width: calc(40rem + 60px);
    height: 480px;
    border: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow: var(--shadow);
}

@media screen and (min-width: 700px) {
    .hostedServices {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        row-gap: 30px;
    }
}

@media screen and (max-width: 699px) {
    .overlay {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 90%;
    }

    .hostedServices > div {
        font-size: 20px;
        margin: 15px;
    }

    .topLevelLinks {
        font-size:25px;
    }

    .desktopBreak {
        display: none;
    }
}